<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="row">
      <div class="col-md-2" align="left">
          <a href="https://www.umassmed.edu/bmp">
          <img class="img-fluid mx-auto d-block" src="/static/img/pages/umass_logo.jpeg" alt="logo" style="max-height: 100px;">
        </a>
      </div>
      <div class="col-md-8" align="center">
          <p>{{ site.description | escape }}</p>
      </div>
      <div class="col-md-2" align="right">
        <div class="social">
          <a href="https://github.com/ReddingLab" class="fa fa-github" style="font-size:36px;color:#004fa3"></a>
        </div>
      </div>

    </div>

  </div>

</footer>



